<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:insert th:replace="~{fragments :: metadata}"></th:insert>
    <title>Välj kontroll</title>
</head>
<body>
<div class="nav-box">
    <a th:href="@{/startmenu}">Tillbaka</a>

    <!-- Include messages -->
    <div th:insert="~{fragments :: messages(${errormsg}, ${confirmmsg})}"></div>

    <h2>Välj kontroll</h2>

    <form th:action="@{/correct/selectstation}" th:object="${stationSelectionForm}" method="post" class="form-general">
        <div class="form-box">
            <fieldset>
                <select th:field="*{stationId}">
                    <option value="">-- Välj kontroll --</option>
                    <option th:each="station : ${stations}"
                            th:value="${station.id}"
                            th:text="${station.stationName}">
                    </option>
                </select>
            </fieldset>
        </div>

        <div class="submit-area">
            <button type="submit">Fortsätt</button>
            | <a th:href="@{/startmenu}">Avbryt</a>
        </div>
    </form>
</div>
</body>
</html>
