<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:insert th:replace="~{fragments :: metadata}"></th:insert>
    <title>Alla patruller i bokstavsordning</title>
</head>
<body>
<div class="nav-box">
    <a th:href="@{/startmenu}">Tillbaka till menyn</a>
    <!-- Include messages -->
    <div th:insert="~{fragments :: messages(${errormsg}, ${confirmmsg})}"></div>

    <h2>Alla patruller med kontaktpersoner</h2>
    <p th:if="${patrols != null}" th:text="'Totalt ' + ${patrols.size()} + ' patruller'"></p>
</div>

<div th:if="${patrols != null}">
    <div th:each="patrol, iterStat : ${patrols}" class="scoreitem">
        <h3 th:text="${patrol.patrolName}">Namn</h3>
        <span th:text="${patrol.troop}"></span><br/>
        <span th:text="${patrol.leaderContact}"></span><br/>
        <span th:text="${patrol.leaderContactPhone}"></span><br/>
        <span th:text="${#temporals.format(patrol.getLatestScore?.lastSaved, 'yyyy-MM-dd HH:mm')}">Ingen kontroll har passerats</span>
        <span th:text="${patrol.getLatestScore?.station?.stationName}"></span><br/>
    </div>
</div>
</body>
</html>
