<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${config.name + ' admin - skriv ut'}">Admin</title>
    <th:block th:replace="~{fragments :: metadata}"></th:block>
</head>
<body>

<div class="page-head">
    <h1 th:text="${config.name + ' administration'}">Administration</h1>
</div>

<!-- Include messages -->
<div th:insert="~{fragments :: messages(${errormsg}, ${confirmmsg})}"></div>

<!-- Include nav bar -->
<div class="nav-box">
    <ul>
        <li class="nav-item"><a th:href="@{/admin/print/small}">Startkort små</a></li>
        <li class="nav-item"><a th:href="@{/admin/export/results-short}">Resultatlista sammanställning</a></li>
        <li class="nav-item"><a th:href="@{/admin/export/results-complete}">Resultatlista med alla kontroller</a></li>
    </ul>
</div>


</body>
</html>
