<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${config.name + ' admin - skriv ut'}">Admin</title>
    <th:block th:replace="~{fragments :: metadata}"></th:block>
</head>
<body>

<div class="page-head">
    <h1 th:text="${config.name + ' administration'}">Administration</h1>
</div>

<!-- Include messages -->
<div th:insert="~{fragments :: messages(${errormsg}, ${confirmmsg})}"></div>

<!-- Include nav bar -->
<div class="nav-box">
    <ul>
        <li class="nav-item"><a th:href="@{/admin/print/small}">Startkort små</a><br/>Skapar visitkortsstora startkort för alla patruller. Slå på eller av generering av QR kod på startkorten via administration - konfiguration.</li>
        <li class="nav-item"><a th:href="@{/admin/print/startstations}">Startkontroller och dess patruller</a><br/>Utskrift av varje kontroll och de patruller som startar på den kontrollen.</li>
        <li class="nav-item"><a th:href="@{/admin/export/results-short}">Resultatlista sammanställning</a><br/>Lista med alla patrullers totalpoäng.</li>
        <li class="nav-item"><a th:href="@{/admin/export/results-complete}">Resultatlista med alla kontroller</a><br/>Lista med alla patrullers poäng på respektive kontroll.</li>
        <li class="nav-item"><a th:href="@{/admin}">Till admin-menyn</a></li>
    </ul>
</div>


</body>
</html>
