<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: metadata}"></th:block>
    <title th:text="${config.name}">GökOpen</title>
</head>
<body>
<div class="nav-box">
    <div class="page-head">
        <h1 th:text="'Välkommen till ' + ${config.name}">Välkommen</h1>
    </div>

    <!-- Include messages -->
    <div th:insert="~{fragments :: messages(${errormsg}, ${confirmmsg})}"></div>

    <ul>
        <!-- Show register link only if registration is open -->
        <li class="nav-item" th:if="${registrationOpen}">
            <a th:href="@{/public/register}">Anmäl en patrull</a>
        </li>
        <!-- Show results link if allowed -->
        <li class="nav-item" th:if="${config.allowPublicResult}">
            <a th:href="@{/public/score}">Se den aktuella poängställningen</a>
        </li>

        <!-- Always show login link -->
        <li class="nav-item">
            <a th:href="@{/startmenu}">Logga in och rapportera poäng</a>
        </li>
    </ul>
</div>
</body>
</html>
